
* {
    margin: 0;
    padding: 0;
}

.site-header {
    background-color: black;
    color: white;
    padding: 20px;
    min-height: 150px;
    /* text-align: center; */
    border-bottom: 2px solid #e0e0e0;
}

.page-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.pundaquit-home-carousel {
    width: 100%;
    margin: auto;
    /* margin-top: 20px;
    margin-bottom: 20px; */
}

.lodges {
    margin-bottom: 25px;
}

.map-responsive {
    width: 100%;
    margin: auto;
}

.map-responsive iframe {
    width: 100%;
    height: 720px; /* Or a specific height */
}

.activity-image{
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.service-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.improvement-text {
    margin-left: 25px;
}
.tab-pane:not(.active) {
  display: block;
  height: 0;
  overflow-y: hidden;
}
.week-day {
    min-height: 200px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    border: solid 1px #e0e0e0;
    /* margin-bottom: 10px; */
}
.special-event {
    margin-bottom: 20px;
}