
.site-header {
    background-color: black;
    color: white;
    padding: 20px;
    /* text-align: center; */
    border-bottom: 2px solid #e0e0e0;
}

.pundaquit-home-carousel {
    width: 60%;
    margin: auto;
    /* margin-top: 20px;
    margin-bottom: 20px; */
}

.map-responsive {
    width: 100%;
    margin: auto;
}

.map-responsive iframe {
    width: 80%;
    height: 600px; /* Or a specific height */
}

.activity-image{
    width: 60px;
    height: 60px;
    object-fit: cover;
}